@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  overflow-x: hidden;
  font: 16px/1.4 "Lato", sans-serif;
  /* color: #fefeff; */
}
body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
}  

.gradient-text {
  background-image: linear-gradient(45deg, #f87516, #5e11ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
